{% extends "main.html" %}

{% block rightcontent %}
<div class="contentList">
  <h2>Add</h2>
  <form class="add" action="api/bookmark-add.php" method="post" name="form1" onsubmit="required()">
    <div class="control-container">
      <div class="control">
        <label class="label">Topic</label>
        <div class="select">
          <select name="category">
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
            <option value="5">lol</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field-container">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="ex: Bulma Framework" name="title">
        </div>
      </div>
      <div class="field">
        <label class="label">Link</label>
        <div class="control">
          <input class="input" type="text" placeholder="ex: https://bulma.io/" name="url">
        </div>
      </div>
      <div class="field">
        <label class="label">About</label>
        <div class="control">
          <textarea class="textarea" name="description" placeholder="Link description"></textarea>
        </div>
      </div>
    </div>
    <div class="buttons-container">
      <div class="control">
        <button class="button is-primary" role="submit">Submit</button>
      </div>
      <div class="control">
        <button class="button"><a href="index.html">Cancel</a></button>
      </div>
    </div>
  </form>
</div>
<script>
  function required()
    {
    var a = document.forms["form1"]["title"];
    var b = document.forms["form1"]["url"];
    var c = document.forms["form1"]["category"];
    var c1 = document.getElementsByClassName("select");
    if (a.value == "")
    {
      a.className = 'input is-danger';
    return false;
    }
    else if(b.value == "" || b.value == null){
      b.className = 'input is-danger';
      return false;
    }
    else if(c.value == 0){
      c1.className = 'select is-danger';
      return false;
    }
    else 
    {
      a.className = 'input is-success';
      b.className = 'input is-success';
      c1.className = 'select is-success';
      // empt.classList.add("is-success");
    return true; 
    }
  }
</script>
{% endblock %}
