{% extends "main.html" %}

{% block rightcontent %}
<div class="contentList">
  <h2>About</h2>
  <p>Lovelace-Bookmarks 1.0 a pour objectif de faciliter le partage de ressources d'apprentissage entre développeurs juniors.</p>
  <h5>Équipe</h5>
  <ul class="credits">
    <li>Back-End: <a href="#">Romain Vandevoorde</a></li>
    <li>Design & UX: <a href="#">Pedro Seromenho</a></li>
    <li>AJAX: <a href="#">Mostapha Tahri</a></li>
  </ul>
  <h5>Technologies</h5>
  <p>Stack: Apache 2, PHP 7, MySQL 5.6</p>
  <ul class="credits">
    <li><a href="https://twig.symfony.com/">Twig</a> : templating</li>
    <li><a href="https://github.com/hybridauth/hybridauth">HybridAuth</a> : connexion via Github</li>
    <li><a href="https://getcomposer.org/">Composer</a> : gestion des dépendances</li>
    <li><a href="https://bulma.io/">Bulma</a> : framework CSS</li>
    <li><a href="https://fontawesome.com/">FontAwesome</a> : icônes</li>
  </ul>
</div>
{% endblock %}
