{% extends "main.html" %}

{% block content %}
<table>
  <tr>
    <th>ID</th>
    <th>Titre</th>
    <th>URL</th>
    <th>Description</th>
    <th>User</th>
    <th>Category</th>
    <th>Actions</th>
  </tr>
  {% for bookmark in bookmarks %}
  <tr>
    <td>{{ bookmark.id }}</td>
    <td><a href="bookmark.php?id={{ bookmark.id }}">{{ bookmark.titre }}</a></td>
    <td>{{ bookmark.url }}</td>
    <td>{{ bookmark.description }}</td>
    <td>{{ bookmark.user_added }}</td>
    <td>{{ bookmark.category_id }}</td>
    <td>
      <a href="bookmark.php?action=edit&id={{ bookmark.id }}">Edit</a>
      <a href="bookmark.php?action=delete&id={{ bookmark.id }}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
<a href="bookmark.php?action=add">Create a new bookmark</a>
{% endblock %}
