<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lovelace Bookmarks</title>
  <style media="screen">
    td {
      padding: 4px;
    }
  </style>
</head>
<body>

  <nav>
    <ul>
      <li><a href="index.php">Accueil</a></li>
      <li><a href="bookmarks.php">Bookmarks</a></li>
      <li><a href="bookmark.php?action=add">Ajout</a></li>
      <li><a href="category2.php">Catégories</a></li>
      <li><a href=""></a></li>
    </ul>
  </nav>

  {% if errors is defined %}
  <div style="border: 1px solid red">
    {% for error in errors %}
    <p>{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}

  {% block content %}
  <p>Content</p>
  {% endblock %}

</body>
</html>
